.sidebar {
    width: 111px;
    height: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.sidebar-nav {
    width: 92px;
    height: 714px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 49px;
}

.nav-item {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    cursor: pointer;
    transition: 0.4s linear;
}

.nav-item-imgs:hover{
    background-color: #095880;
}

.nav-item::after {
    width: 30px;
    height: 2px;
    content: "";
    position: relative;
    top: 78px;
    left: -15px;
    background-color: #D9D9D9;
}

/* .nav-item img{
    width: px;
    height: 32px;
} */

.theme {
    height: 114px;
}

.theme-toggle {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile-menu {
    display: flex;
    align-items: center;
}

.profile-menu p {
    color: #095880;
}


.home {
    border-radius: 20px;
    background-color: #E5E8EE;
}